html {
    width:100%;
}

.logo {
    width: 90%;
    max-height: 200px;
    text-align: right;
    justify-content: right;
    margin-top: 0;
  
}

.vizsla{
    margin-bottom: 100px;
}

.logo img {
    width: 25%;
}

.topnav {
    color: rgb(60, 115, 233);
    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.4);
    text-align: center;
    justify-content: space-between;
    padding: 10px;
}

.topnav a {
    justify-content: space-between;
    color: rgb(60, 115, 233);
    padding: 60px;
    font-family: "Source Serif 4", serif;
    font-size: 25px;
}

.topnav a:hover {
    color: rgb(0, 0, 0);
}

.icon,
.active {
    display: none;
}


.maincover{
    max-height: 200px;
    width:30%;
}

.hero {
    height: 600px;
    width: 100%;
    background: url("../photos/cutedog.jpg") no-repeat center center/cover;
    position: relative;
}

#cover-text1{
    color: ghostwhite;
    text-align: left;
    padding-left: 100px;
    font-size: 35px;
    
}
#cover-text2{
    color: ghostwhite;
    text-align: center;
}