html {
    width:100%;
}

.logo {
    width: 90%;
    max-height: 200px;
    text-align: left;
    justify-content: center;
    padding-top:80px;
    padding-left: 80px;
}

.logo img {
    width: 25%;
}

.topnav {
    color: rgb(60, 115, 233);
    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.4);
    text-align: center;
    justify-content: space-between;
    padding: 10px;
}

.topnav a {
    justify-content: space-between;
    color: rgb(60, 115, 233);
    padding: 60px;
    font-family: "Source Serif 4", serif;
    font-weight: 800;
    font-size: 25px;
}

.topnav a:hover {
    color: rgb(0, 0, 0);
}

.icon,
.active {
    display: none;
}


.maincover{
    max-height: 200px;
    width:30%;
}

.hero {
    height: 400px;
    width: 100%;
    background: url("../photos/cutedog.jpg") no-repeat center center/cover;
    position: relative;
}

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 40px;
}

.cards{
    display: flex;
    padding-top: 30px;
    
}

.card1,
.card2,
.card3 {
    background-color: rgb(80, 87, 142);
    width: 400px;
    padding: 15px;
    margin: 20px;
    border-radius: 20px;
    font-family:"Source Serif 4", serif; 
    font-size: 20px;
    text-align: justify;
}

.card1:hover,
.card2:hover,
.card3:hover {
    transition: transform 0.4s;
}

.card1:hover,
.card2:hover,
.card3:hover {
    transform: scale(1.1);
}

.signature{
    font-family: "Alex Brush", cursive;
    font-size: 30px;
}

.card1, .card2, .card3 {
    color:rgb(60, 115, 233);
    background-color: rgba(231, 223, 223, 0.5);
    border-radius: 25px;
}

.home-img {
    width: 400px;
    height: auto;
    bottom: 10px;
    border-radius: 15px;
}

.info-card, .signature, .cards h2{
    padding-left: 20px;
    padding-top: 20px;
}